@model ProjectsManager.Models.Team

@{
    ViewData["Title"] = "Подробнее о команде";
}

<h1 class="form-title">Подробнее о команде @Model.Name</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
</div>
<div>
    <a class="form-link" asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a> 
</div>
