@model IEnumerable<ProjectsManager.Models.Priority>

@{
    ViewData["Title"] = "Приоритеты";
}

<h1 class="form-title">Приоритеты</h1>

<p>
    <a class="form-link" asp-action="Create">Создать новый приоритет</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a class="form-link" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a class="form-link" asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                    <a class="form-link" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
